:root {
 --custom-shade: rgb(240, 240, 240);
 --custom-shade-2: rgb(225, 225, 225);
}

[data-theme='dark'] {
 --custom-shade: rgb(20, 20, 20);
 --custom-shade-2: rgb(30, 30, 30);
}

.featureBox {
 width: 19.5rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 1rem;
 background-color: var(--custom-shade);
 border-radius: 1rem;
 margin: 1rem;
}

.featureBox > div {
 width: 4rem;
 height: 4rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: 1.5rem;
 background-color: var(--custom-shade-2);
 opacity: 0.8;
 border-radius: 1rem;
 margin-block: 1rem;
}

.featureBox > h3 {
 margin-bottom: .5rem;
}

.featureContainer {
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 text-align: center;
 padding-block: 1rem;
 margin-top: 2rem;
}